.button {
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem 0.3rem;
  font-weight: normal;
  border: none;
  cursor: pointer;
  border-radius: var(--border-radius);
}

.primary {
  background: var(--color-primary-light);
  color: var(--color-foreground);

  &:hover {
    background: var(--color-primary-dark);
  }
}

.secondary {
  background: var(--color-secondary-light);
  color: var(--color-foreground);

  &:hover {
    background: var(--color-secondary-dark);
  }
}

.disabled {
  background: var(--color-border);
  color: var(--color-copy-lighter);
  cursor: not-allowed;
}