@use "./theme";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  background-color: var(--color-background);
  color: var(--color-copy);
  width: 100vw;
  min-height: 100vh;
}

a {
  text-decoration: none;
}
